<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Changing password</h4>
                <p>Change Your Password</p>
            </div>
        </div>
        <form action="/changepassword" method="post">
        <div class="product-list-container">
            <div style="margin-left: 50px;" class="create-product-row row">
                <div class="col create-product-item">
                    <h6>Username</h6>
                    <input value="{{username}}" style="width: 300px;" type="text" name="username">
                </div>
                
                <div class="col create-product-item">
                    <h6>New Password</h6>
                    <input style="width: 300px;" type="password"name="password">
                </div>
                <div class="col create-product-item">
                    <h6>Comform Password</h6>
                    <input style="width: 300px;" type="password"name="comfirmPassword">
                </div>
            </div>
            {{#if showAlert}}
                {{#if code}}
                    <div class="alert alert-success mr-5 ml-5 mt-3" role="alert" id="successAlert">
                        {{message}}
                    </div>
                {{else}}
                    <div class="alert alert-danger mr-5 ml-5 mt-3" role="alert" id="errorAlert">
                        {{message}}
                    </div>
                {{/if}}
            {{/if}}
            <div style="margin-left: 50px; text-align:center" class="create-product-row row">
                <div class="col create-product-item">
                    <button class="create-submit-btn" type="submit">Change Password</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    
</div>
<script>
    const storedUsername = localStorage.getItem('username');
    if (storedUsername) {
        // If there's a stored username, set it as the value for the input field
        $('input[name="username"]').val(storedUsername);
    }

    const form = $('.create-submit-btn');
    const fullNameValue = $('input[name="fullName"]');
    const emailValue = $('input[name="email"]');

    form.click(e => {
        const newUsername = $('input[name="username"]').val();
        // Save the current input value to localStorage before reloading the page
        localStorage.setItem('username', newUsername);
        
        window.location.reload();
    });

    const checkDisplay = {{showAlert}};
    console.log(checkDisplay);

    if (checkDisplay) {
        setTimeout(function() {
            $('#errorAlert').css('display', 'none');
            $('#successAlert').css('display', 'none');
        }, 6000);
    }

</script>