<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Customers List</h4>
                <p>Manage Customers</p>
            </div>
        </div>

        <div class="product-list-container">
            <div class="product-container">
                <div class="product-filter-icon">
                    <button class="product-filter-btn"><i class="fa-solid fa-filter"></i></button>
                </div>
                <div class="product-search">
                    <div class="product-search_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="product-search_box">
                        <input type="text" id="product-search-box" placeholder="Search by phone number...">
                    </div>
                </div>
                <div class="product-file-icon">
                    <a href="/create-pdf"><i class="fa-solid fa-file-pdf"></i></a>
                </div>
                <table class="table product-table" id="productTable">
                    <thead >
                        <tr class="profile-header">
                            <th scope="col"><input class="product-checkbox-input" type="checkbox" name="all-products"></th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Customer Name</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Phone Number</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Addres</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each customer}}
                            <tr>
                                <th scope="row"><input class="product-checkbox-input" type="checkbox" name="products"></th>
                                <td><span style="margin-left:10px;">{{customerName}}</span></td>
                                <td>{{phoneNumber}}</td>
                                <td>{{address}}</td>
                                <td class="product-action">
                                    <a class="product-list-item_info_link" href="/product"><i class="fa-regular fa-eye"></i></a>
                                    {{#if (isAdmin ../globalData.role)}}
                                            <a class="product-list-item_info_link ml-2" href="/customer/view/{{_id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a data-productname="{{productName}}" data-id="{{_id}}" class="delete-product-link product-list-item_info_link ml-2" href="/product/delete/{{_id}}"><i class="fa-solid fa-trash"></i></a>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
     <div class="modal fade" id="blockNoticeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">No customer found</h5>
                    </div>
                    <div class="modal-body">
                        Please check if customer's phone number is valid. Then search again!
                    </div>
                   <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function() {
        $('input[name="all-products"]').change(function() {
            $('input[name="products"]').prop('checked', this.checked);
        });

        $('input[name="products"]').change(function() {
            if (!$('input[name="products"]').not(':checked').length) {
                $('input[name="all-products"]').prop('checked', true);
            } else {
                $('input[name="all-products"]').prop('checked', false);
            }
        });

           //hanlde search staff box
        $('#product-search-box').on('change', function() {
            const searchTerm = $(this).val();
                $.ajax({
                url: '/customer/search',
                method: 'POST',
                data: { searchTerm: searchTerm },
                dataType: 'json',
                success: function (data) {
                    if(data.length !== 0) {
                        console.log(data)
                        // Display the results
                        const productTable = $('#productTable');
                        const tableBody = productTable.find('tbody');
                        console.log($("#productTable tbody tr").length)
                        $("#productTable tbody tr").remove()
                        
                        data.forEach(function (result) {
                        // Append a new row for each product
                        const newRow = `
                            <tr>
                                <th scope="row"><input class="product-checkbox-input" type="checkbox" name="products"></th>
                                <td><span style="margin-left:10px;">${result.customerName}</span></td>
                                <td>${result.phoneNumber}</td>
                                <td>${result.address}</td>
                                <td class="product-action">
                                    <a class="product-list-item_info_link" href="/product"><i class="fa-regular fa-eye"></i></a>
                                    {{#if (isAdmin globalData.role)}}
                                            <a class="product-list-item_info_link ml-2" href="/customer/view/${result._id}"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a data-productname="${result.productName}" data-id="${result._id}" class="delete-product-link product-list-item_info_link ml-2" href="/product/delete/${result._id}"><i class="fa-solid fa-trash"></i></a>
                                    {{/if}}
                                </td>
                            </tr>`;

                        tableBody.append(newRow);
                        });
                    } else {
                        $("#productTable tbody tr").remove()
                        $('#blockNoticeModal').modal('show');
                    }
                
                },
                error: function (err) {
                    console.error('Error:', err);
                }
            });                  
        });      
    });
</script>