<h1>Detail Page</h1>

<div>
    {{#with (itemInfo)}}
    <div class="header-container">
        <div class="img-section">
            <img width="500" height="500" src="{{getImageSrc images 0}}" alt="">
            <div class="smaller-img-container">
                <img width="200" height="200" src="{{getImageSrc images 1}}" alt="">
                <img width="200" height="200" src="{{getImageSrc images 2}}" alt="">
                <img width="200" height="200" src="{{getImageSrc images 2}}" alt="">
                <img width="200" height="200" src="{{getImageSrc images 2}}" alt="">
            </div>
        </div>
        <div class="name-price-btn-section">
            <h1>{{name}}</h1>
            <h4>{{price}}</h4>
            <div class="two-btn">
                <button class="buy-btn">Mua ngay</button>
                <button class="-btn">Trả góp</button>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="desciption-section">
            <p>{{desc}}</p>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Iphone 13</td>
                        <td>600</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/with}}
</div>