<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Order List</h4>
                <p>Manage Order</p>
            </div>
        </div>
        <div class="product-list-container">
            <div class="product-container">
                <div class="product-filter-icon">
                    <button class="product-filter-btn"><i class="fa-solid fa-filter"></i></button>
                </div>
                <div class="product-search">
                    <div class="product-search_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="product-search_box">
                        <input type="text" id="product-search-box" placeholder="Search...">
                    </div>
                </div>
                <table class="table product-table" >
                    <thead >
                        <tr class="profile-header">
                            <th scope="col"><input class="product-checkbox-input" type="checkbox" name="all-staffs"></th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>OrderID</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Total-Amount</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Given-Amount</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Change</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Date Buy</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order}}
                                <tr>
                                    <th scope="row"><input class="product-checkbox-input" type="checkbox" name="staffs"></th>
                                    <td><span style="margin-left:10px;">{{_id}}</span></td>
                                    <td>{{totalAmount}}</td>
                                    <td>{{givenAmount}}</td>
                                    <td>{{change}}</td>
                                    <td>{{dateBuy}}</td>
                                    <td class="product-action">
                                        <a class="product-list-item_info_link" href="/order/view/{{_id}}"><i class="fa-regular fa-eye"></i></a>
                                    </td>
                                </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>