<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Product List</h4>
                <p>Manage Your Product</p>
                
            </div>
            <div class="header-product-right">
                <a href="/product/create-product" class="adding-product-btn">
                    <i class="fa-solid fa-plus"></i>
                    <h5>Adding Product</h5>
                </a>
            </div>
        </div>

        <div class="product-list-container">
            <div class="product-container">
                <div class="product-filter-icon">
                    <button class="product-filter-btn"><i class="fa-solid fa-filter"></i></button>
                </div>
                <div class="product-search">
                    <div class="product-search_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="product-search_box">
                        <input type="text" id="product-search-box" placeholder="Search...">
                    </div>
                </div>
                <div class="product-file-icon">
                    <a href="/create-pdf"><i class="fa-solid fa-file-pdf"></i></a>
                </div>
                {{!-- <div class="product-list-section-container">
                    <div class="product-list-header">
                        <div class="product-list-checkbox">
                            <input class="product-checkbox-input" type="checkbox" name="all-products">
                        </div>
                        <div scope="col" class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Product Name</h6>
                        </div>
                         <div scope="col" class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Category</h6>
                        </div>
                         <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Brand</h6>
                        </div>
                         <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Price</h6>
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Qty</h6>
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Create by</h6>
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Action</h6>
                        </div>
                    </div>
                    {{#each product}}
                        <div class="product-list-item">
                            <div class="product-list-checkbox">
                                <input class="product-checkbox-input" type="checkbox" name="products">
                            </div>
                            <div class="product-list-item_info">
                                <img class="product-img" src="{{image}}" alt="">
                                <h6>{{productName}}</h6>
                            </div>
                            <div class="product-list-item_info">
                                <h6>{{category}}</h6>
                            </div>
                            <div class="product-list-item_info">
                                <h6>{{brand}}</h6>
                            </div>
                            <div class="product-list-item_info">
                                <h6>{{price}}</h6>
                            </div>
                            <div class="product-list-item_info">
                                <h6>{{quantity}}</h6>
                            </div>
                            <div class="product-list-item_info">
                                <h6>{{createdBy}}</h6>
                            </div>
                            <div class="product-list-item_info">
                                <a class="product-list-item_info_link" href="/product"><i class="fa-regular fa-eye"></i></a>
                                {{#if (isAdmin ../globalData.role)}}
                                    <a class="product-list-item_info_link" href="/product/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="product-list-item_info_link" href="/product/delete"><i class="fa-solid fa-trash"></i></a>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div> --}}
                <table class="table product-table" id="productTable">
                    <thead >
                        <tr class="profile-header">
                            <th scope="col"><input class="product-checkbox-input" type="checkbox" name="all-products"></th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Product Name</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Category</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Brand</th>
                            {{#if (isAdmin globalData.role)}}
                                <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Import Price</th>
                            {{/if}}
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Price</th>
                            <th scope="col"><i class="fa-solid fa-sort icon-sort"></i>Qty</th>
                            <th scope="col">Create by</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each product}}
                            <tr>
                                <th scope="row"><input class="product-checkbox-input" type="checkbox" name="products"></th>
                                <td><img class="product-img" src="{{image}}" alt=""><span style="margin-left:10px;">{{productName}}</span></td>
                                <td>{{category}}</td>
                                <td>{{brand}}</td>
                                {{#if (isAdmin ../globalData.role)}}
                                    <td>{{importPrice}}</td>
                                {{/if}}
                                <td>{{price}}</td>
                                <td>{{quantity}}</td>
                                <td>{{createdBy}}</td>
                                <td class="product-action">
                                    <a class="product-list-item_info_link" href="/product/edit/{{_id}}"><i class="fa-regular fa-eye"></i></a>
                                    {{#if (isAdmin ../globalData.role)}}
                                            <a class="product-list-item_info_link ml-2" href="/product/edit/{{_id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a data-productname="{{productName}}" data-id="{{_id}}" class="delete-product-link product-list-item_info_link ml-2" href="/product/delete/{{_id}}"><i class="fa-solid fa-trash"></i></a>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>


   {{!-- Delete modal --}}
   <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete product <strong id="productNameInModal"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('input[name="all-products"]').change(function() {
            $('input[name="products"]').prop('checked', this.checked);
        });

        $('input[name="products"]').change(function() {
            if (!$('input[name="products"]').not(':checked').length) {
                $('input[name="all-products"]').prop('checked', true);
            } else {
                $('input[name="all-products"]').prop('checked', false);
            }
        });

          $(".delete-product-link").on("click", function (e) {
            e.preventDefault()
            var productName = $(this).data("productname");
             var productID = $(this).data("id");
             console.log(productID)
            $("#productNameInModal").text(productName);
            $("#confirmModal").modal("show");

            $("#confirmDelete").on("click", function () {
                $.ajax({
                    url: `/product/delete/${productID}`,
                    method: "DELETE",
                    dataType: "json", 
                    success: function (data) {            
                        console.log(data)
                        window.location.reload()
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", status, error);
                    }
                });
                $("#confirmModal").modal("hide");
            });
        });

         //hanlde search product box
        $('#product-search-box').on('input', function() {
            const searchTerm = $(this).val();

            $.ajax({
                url: '/product/search',
                method: 'POST',
                data: { searchTerm: searchTerm },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    // Display the results
                    const productTable = $('#productTable');
                    const tableBody = productTable.find('tbody');
                    console.log($("#productTable tbody tr").length)
                    $("#productTable tbody tr").remove()
                    
                    data.forEach(function (result) {
                    // Append a new row for each product
                    const newRow = `
                        <tr>
                            <th scope="row"><input class="product-checkbox-input" type="checkbox" name="products"></th>
                            <td><img class="product-img" src="${result.image}" alt=""><span style="margin-left:10px;">${result.productName}</span></td>
                            <td>${result.category}</td>
                            <td>${result.brand}</td>
                            {{#if (isAdmin globalData.role)}}
                                <td>${result.importPrice}</td>
                            {{/if}}
                            <td>${result.price}</td>
                            <td>${result.quantity}</td>
                            <td>${result.createdBy}</td>
                            <td class="product-action">
                                <a class="product-list-item_info_link" href="/product/edit/${result._id}"><i class="fa-regular fa-eye"></i></a>
                                {{#if (isAdmin globalData.role)}}
                                    <a class="product-list-item_info_link ml-2" href="/product/edit/${result._id}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a data-productname="${result.productName}" data-id="${result._id}" class="delete-product-link product-list-item_info_link ml-2" href="/product/delete/${result._id}"><i class="fa-solid fa-trash"></i></a>
                                {{/if}}
                            </td>
                        </tr>`;

                    tableBody.append(newRow);
                    });
                },
                error: function (err) {
                    console.error('Error:', err);
                }
            });
        });      

       
    });
</script>
{{!-- cần phải ../ khi truy cập một biến trong vòng loop của hbs --}}